

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    
    background-color: #888888;
    padding: 50px;
    margin: 20px , 0, 20px,20px;
}

.contInfor{
    margin: 20px 20px,20px, 0;
    
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    
    background-color: rgb(53, 176, 247);
    padding: 50px;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}



