

footer *{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

footer ul{
    list-style: none;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; */
}

footer{
    background-color: #121315;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer h4{
    text-transform: uppercase;
    margin-bottom: 1em;
}

footer .container{
  max-height: auto;
    max-width: auto;
    margin: 0 auto;
    padding: 2em;
}

.footer1{
  position: relative;
  background: url('/src/assets/footerBack.jpg') no-repeat center;
  background-size: cover;
}

.footer1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 0;
}

.footer1 .container{
  position: relative;
  /* z-index: 1; */
}

/* .footer1 .footer-top .container, */
.footer1 .footer-top .container{
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 2em;
  align-items: center;
}
.footer1 .col2,
.footer1 .footer-bottom .container{
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 2em;
  align-items: center;
}

.footer1 .menu li{
 /* justify-content: space-between; */
  margin-bottom: 1em;
}

.footer1 .menu a:hover{
  color: #ff2b00;
  text-decoration: underline;
}

.brand{
  display: block;
  margin-bottom: 1em;
  font-size: 1.8em;
  font-weight: 600;
}

.media-icons li,
.service-icons li{
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a {
  
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media-icons a:hover{
  background-color: #fff;
  color: #111;
}

.service-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.service-icons a:hover{
  background-color: #fff;
  color: #111;
}

.footer-bottom{
  border-top: 1px #dbdbdb solid;
}

.input-wrap{
  margin: 1em 0;
  display: flex;
}

.input-wrap input{
  /* width: 70%; */
  padding: 0.5em;
  border: none;
  background: #20232a;
 color: #ccc;
}

.input-wrap input:focus{
  outline: none;
}

.input-wrap button{
  padding: 0.5em 1em;
  background: #ff2b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.input-wrap button:hover{
  background: #fff;
  color: #111;
}


footer img{
  
  margin: 20px;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  border: 2px solid white;
}


